<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark bottom-footer">
      <div class="container-fluid">
        <h6 class="display-6 navbar-text">Author: Shafiya Heena | Karanjoth Singh | Najmun Nahar </h6>
      </div>
    </nav>
  </footer>