
<%- include partials/header.ejs  %> 
<%- include partials/main_nav.ejs %> 
 <!--Main Content-->
<main class="bg">
  <div class="home_text">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <br>
          <h1 class="animate__animated animate__pulse animate__infinite	infinite">Welcome to MetaWeb</h2>
          <p><b>Mission:</b> Hello and Welcome! Today we are going to look at the survey conducted. This home page give the brief idea on active surveys and newly added surveys</p>
          <a class="btn homebtn" href="/survey-list/add">Create Survey</a>
        </div>
        <div class="col-md-6 animate__animated animate__fadeInUp animate__delay-1s d-none d-lg-block">
         <img src="/Assets/images/survey3.png" alt="" class="img-fluid ">
       </div> 
      </div>       
  </div>  
</div>
<div class="container content_wrapper" id="about">
  <div class="row">
    <div class="col-md-4 col-sm-12 content1 shadow card">
      <img src="/Assets/images/home1.png" alt="" class="img-fluid">
      <p class="text-center home_heading">CREATE FREE ACCOUNT</p>
      <p class="text-center home_paragraph d-none d-lg-block">Register yourself and become a member of the admin panel. Enjoy your free account and have access to the admin facilities.</p>
      <a href="/register" type="button" class="home_btn text-center" >Sign Up</a>
    </div>
    <div class="col-md-4 col-sm-12 content1 card">
      <img src="/Assets/images/survey2.jpg" alt="" class="img-fluid">
      <p class="text-center home_heading">CREATE SURVEYS</p>
      <p class="text-center home_paragraph d-none d-lg-block">Create Free Surveys using MetaWeb. Login to your account in order to create and publish surveys.</p>
      <a href="/login" type="button" class="home_btn text-center" >Login</a>
    </div>
    <div class="col-md-4 col-sm-12 content1 shadow card">
      <img src="/Assets/images/survey4.jpg" alt="" class="img-fluid">
      <p class="text-center home_heading">TAKE SURVEYS</p>
      <p class="text-center home_paragraph d-none d-lg-block">Attend the available surveys and leave us a feedback regarding the particular events. Your responses are gonna be recorded</p>
      <a href="/survey-list" type="button" class="home_btn text-center" >Attend Survey</a>
    </div>
  </div>
</div>    
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %> 
  
  

  




