<%- include partials/header.ejs  %> 
<%- include partials/main_nav.ejs %> 
 <!--Main Content-->
 <main class="container service">
     <br>
     <h4 class="text-center">Services</h4><br>
     <div class="row">
         <div class="col-md-4">
            <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
                <i class="fas fa-code"></i>
                <p><b>WEB DESIGN</b></p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
                <i class="fab fa-app-store-ios"></i>
                <p><b>APP DEVELOPMENT</b></p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
                <i class="fas fa-gamepad"></i>
                <p><b>GAME DEVELOPMENT</b></p>
            </div>
         </div>
     </div>
     <div class="row">
        <div class="col-md-4">
           <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
            <i class="fab fa-python"></i>
            <p><b>PYTHON</b></p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
            <i class="far fa-gem"></i>
            <p><b>SOFTWARE DESIGN</b></p>
           </div>
        </div>
        <div class="col-md-4">
           <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">
            <i class="fas fa-database"></i>
            <p><b>DATABASE DESIGN</b></p>
           </div>
        </div>
    </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %> 