/* Custom CSS goes here*/
body, html {
    height: 100%;
    font-family:cursive;
}
.logo{
    width: 60px;
    height: 60px;
}
/* Home Page CSS */
.bg{
   height: 100%;
}
.home_text{
    padding-top:100px;
    padding-left: 25px;
    background-color: #2e61ae;
    height: 80%;
}
.home_text h1{
    color:white;
    font-family: fantasy;
    text-shadow: 4px 4px rgb(51, 49, 49);
}
.home_text h4{
    color: #33cda8;
    font-family: fantasy;
    text-shadow: 4px 4px rgb(51, 49, 49);
}
.home_text p{
    font-style: italic;
    color: white;
    font-family: sans-serif;
}
.btn{
    color: white;
    border: 3px solid white;
    border-radius: 5%;
}
.btn:hover{
    border: 3px solid white;
}
.content1{
    height: 450px;
    background-color: rgb(248, 245, 245);
    padding: 50px;
}
.content_wrapper{
    margin-top: 60px;
    height: 550px;
}
.home_heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #21457a;
    text-shadow:1px 0px rgba(47, 46, 46, 0.534);
    margin-top: 10px;
}
.home_paragraph{
    font-size: 11px;
    color: rgb(121, 121, 121);
}
.home_btn{
    background-color: rgb(255, 187, 0);
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.home_btn:hover{
    color:#21457a;
    text-decoration-line: none;
    border: 3px solid #21457a;
}
.homebtn:hover{
    color: rgb(255, 187, 0);
    border:3px solid rgb(255, 187, 0);
}
/* Projects Page*/
.project_wrapper{
    text-align: center;
}
.project_wrapper p{
    font-size: 10px;
}
/* Services Page*/
.service{
    text-align: center;
    font-family: fantasy;
}
.service i{
    font-size: 40px;
    background-color:chocolate;
    padding: 10px;
    color: white;
    border-radius: 50%;
}
.service p{
    padding-top: 10px;
}

/* Contact Page*/
.contact_wrapper
{
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border: 3px solid white;
      width: 70%;
}
.contact_wrapper p{
    font-size: 14px;
}
.forms{
    background-color: white;
 
}
input[type=submit]{
    width: 100%;
    padding:7px;
    border: none;
    background-color: rgb(255, 187, 0);
    color: white;
}
/*bottom nav*/

.btnCancel{
    margin-top: 10px;
    background-color:brown;
}
.btnMargin{
    margin-bottom: 30px;
}
.main_navigation{
    font-size: 17px;
    background-color: #2e61ae;
}
.loginPage h1{
    margin-top: 20px;
}
